body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.marker {
  height: 100px;
  width: 100px;
  border: 2px solid double black white;
}

/*
  Side User Interface CSS
 */

 #sideUI {
   position: absolute;
   height: 100%;
   width: 20%;
   background: white;
   box-shadow: 1px 1px 15px grey;
   z-index: 1;
 }

.mainUISection {
  display: inline;
}

.hamburgerSection {
  width: 2%;
  display: inline-flex;
}

.resultsContainer {
  display: block;
  margin: auto;
  height: 60%;
  width: 100%;
  overflow: auto;
}

.result {
  display: inline-flex;
  width: 98%;
}

.businessImage {
  max-width: 100%;
}

.businessName {
  text-align: right;
  font-size: 1.0em;
  float: right;
}
